@* @using Shop.Models *@
@* @model Product *@

@model Company



<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            @* <h2>@(Model.Product.Id != 0 ? "Update" : "Create") Product  </h2> *@
            <h2>@(Model.Id != 0 ? "Update" : "Create") Company  </h2>
        </div>
        <div class="col-md-6 text-end">
            @*     <a asp-controller="Product" asp-action="Index" class="btn btn-light">
            <i class="bi bi-arrow-left"></i> Back to List
            </a> *@
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" hidden />
        <div class="row">
            <div class="col-10">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <textarea asp-for="PhoneNumber" class="form-control"></textarea>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="StreetAddress" class="form-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="State" class="form-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>


                <div class="form-group mb-3">

                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Update
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Create
                        </button>
                    }
                    <a asp-controller="Company" asp-action="Index" class="btn btn-light ms-2">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>


    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




