@* @using Shop.Models *@
@* @model Product *@

@model ProductVM



<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>Create New Product</h2>
        </div>
        <div class="col-md-6 text-end">
            @*     <a asp-controller="Product" asp-action="Index" class="btn btn-light">
            <i class="bi bi-arrow-left"></i> Back to List
            </a> *@
        </div>
    </div>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="Product.Title" class="form-label"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.Description" class="form-label"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.ISBN" class="form-label"></label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.Author" class="form-label"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.ListPrice" class="form-label"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.Price" class="form-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.Price50" class="form-label"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.Price100" class="form-label"></label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            @* <select asp-for="Product.CategoryId" asp-items="@ViewBag.CategoryList" class="form-select"> *@
            @* <select asp-for="Product.CategoryId" asp-items="@ViewData["CategoryList"] as IEnumerable<SelectListItem>" class="form-select"> *@
            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected> -- Select Category --</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Product.ImageUrl" class="form-label"></label>
            <input type="file" class="form-control" />
        </div>
        

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Create
            </button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-light ms-2">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*


<form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span> <!-- Display validation error for Name -->
        </div>

        <div class="form-group mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span> <!-- Display validation error for DisplayOrder -->
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Create
            </button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-light ms-2">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </form>


*@